extends layout

block content
  h1 DJ Appointment API
  p.lead Appointment scheduling API written in Node.js
  hr
  .row
    .col-sm-6
      h2 Uses
      p This is the beginnings of the FONYE DJs appointment scheduling API wrtten in Node.js, we are working hard on completing this project to get it up and running soon. If you would like to contribute please click one of the links in the following sections. 
      p
        a.btn.btn-primary(href='#', role='button') View on Github »
    .col-sm-6
      h2 Contribute
      p If you would like to contribute to this project, join us in the chatroom and contribute where you can. Currently we are working on the Admin backend for this project in Bootstrap and using this API
      p
        a.btn.btn-warning(href='https://gitter.im/fonyedjs/Lobby', role='button') Join Gitter Chat »